# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output
